<div *ngFor="let product of products" class="card text-center">
  <div class="card-header">
    <a [title]=  "product.name + 'details'" [routerLink]="['/products', product.id]">  {{product.name}} </a>
  </div>
  <div class="card-body">
    
    <p class="card-text" *ngIf="product.description">{{product.description}}</p>

    <button type="button" class="btn btn-info" (click)="share()">Share</button>

    <!-- Pass data to a child component
     pass data to chaild class or pass data from this component to product alert component  using   [product]="product"
        Pass data to a parent from chaild component
     using (notify)="OnNotify()"-->
    <app-product-alerts [product]="product"
                        (notify)="OnNotify()">
    </app-product-alerts>
   
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
